{% extends 'base.html.twig' %}

{% block title %}MyAvatar{% endblock %}

{% block javascripts %}
	 <script src={{ asset("js/scripts.js") }}></script>
{% endblock %}

{% block body %}
	<style>
		.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style>

	<div class="example-wrapper">
		<h1>Bienvenue sur MyAvatar ! ✅</h1>



		This friendly message is coming from:
		<ul>
			<li>Your controller at <code><a href="{{ '/home/ann3/pujadej/public_html/ProjetWebSymphonyMyAvatar/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>
			<li>Your template at <code><a href="{{ '/home/ann3/pujadej/public_html/ProjetWebSymphonyMyAvatar/templates/index/index.html.twig'|file_link(0) }}">templates/index/index.html.twig</a></code></li>
		</ul>
	</div>
	
	<script src={{ asset("js/scripts.js") }}></script>
{% endblock %}
