{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<main>
		<form action="{{ path('connexion') }}" method="post" class="formulaire">
			<fieldset>
				<legend>Connexion</legend>
				
				<div class="access-container">
					<label for="login">Login</label>
					<input id="login" type="text" name="_username" value="{{ lastUsername }}" required/>
				</div>
				
				<div class="access-container">
					<label for="password">Mot de passe</label>
					<input id="password" type="password" name="_password" required/>
				</div>
				
				<button type="submit" class="basic-form-submit">Se connecter</button>
			</fieldset>
			
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		</form>
	</main>
{% endblock %}
